{% extends 'base.html.twig' %}

{% block title %}Phone index{% endblock %}

{% block body %}
    <h1>Phone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Price</th>
                <th>Ecran</th>
                <th>Stockage</th>
                <th>Picture</th>
                <th>Description</th>
                <th>ViewCounter</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for phone in phones %}
            <tr>
                <td>{{ phone.id }}</td>
                <td>{{ phone.name }}</td>
                <td>{{ phone.status }}</td>
                <td>{{ phone.price }}</td>
                <td>{{ phone.ecran }}</td>
                <td>{{ phone.stockage }}</td>
                <td>{{ phone.picture }}</td>
                <td>{{ phone.description }}</td>
                <td>{{ phone.viewCounter }}</td>
                <td>
                    <a href="{{ path('phone_show', {'id': phone.id}) }}">show</a>
                    <a href="{{ path('phone_edit', {'id': phone.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('phone_new') }}">Create new</a>
{% endblock %}
